@import "tailwindcss";

@font-face {
  font-family: "Gemstone";
  src: url("/src/assets/fonts/Gemstone.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Beattech";
  src: url("/src/assets/fonts/BEATTECH.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garet";
  src: url("/src/assets/fonts/Garet-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,nav,footer{
    font-family: "Garet", sans-serif;
}







